*.exe
*.dll
*.so
*.dylib
/bin/
build/
dist/
vendor/
*.test
*.out
*.cover
*.cov
*.coverage
*.prof
*.log
*.trace
.idea/
*.swp
*.swo
.vscode/
.DS_Store
Thumbs.db
*.tmp
*.temp
*.bak
.git/
.gitignore
/data
